body{
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: sans-serif;
	background-image: linear-gradient(120deg,#ff6b6b, #5f27cd);
	min-height: 90vh;
} /*Cuerpo de pagina*/
div{
	width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #fff;
	transform: translate(-50%, -50%);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 1px 1px 20px #ee5253;
}/*Cajas de la web*/
.div2{
	background: white;
	height: 250px;
	width: 250px;
	left: 85%;
}/*Caja del texto informativo*/
.div2:hover{
	background: white;
	height: 300px;
	width: 300px;
	left: 85%;
	transition: 0.5ms ease;
}/*Transicion de la caja informativa*/
.imagen{
	position: absolute;
	top: 25%;
	left: 1%;
	height: 40%;
	width: 30%;
	margin: 50px;
}/*Imagen*/
h1{
	color: white;
	font-size: 25px;
	margin-top: 40px;
}/*Encabezado de la pagina*/
h2{
	font-size: 30px;
	font-weight: 600px;
}/*La calculadora*/
h3{
	color: black;
	font-size: 18px;
}/*Texto informativo*/
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #CF27CC;
   color: white;
   text-align: center;
}/*Pie de pagina*/
.text1{
	color: black;
	font-size: 16px;
}/*Tipo de letra del texto informativo*/
.text{
	text-align: left;
	margin-left: 150px;
}/*Tipo de letra de la calculadora*/
#peso, #altura{
	color: #222f3e;
	text-align: left;
	font-size: 20px;
	font-weight: 200;
	outline: none;
	border: none;
	background: none;
	border-bottom: 1px solid #341f97;
	width: 200px;
}/*Caracteristicas de las barras para insertar valores*/
	#peso:focus, #altura:focus{
		border-bottom: 2px solid #341f97;
		width: 300px;
		transition: 0.5s;
	}/*Transicion de las barras*/
	#result{
		color: #341f97;
	}/*Resultado*/
	#btn{
		font-family: inherit;
		margin-top: 10px;
		border: none;
		color: #fff;
		background-image: linear-gradient(120deg,#ff6b6b, #5f27cd);
		width: 150px;
		padding: 10px;
		border-radius: 30px;
		outline: none;
		cursor: pointer;
	}/*Caracteristicas boton*/
	#btn:hover{
		box-shadow: 1px 1px 10px #341f97;
	}/*Transicion boton*/
	#info{
		font-size: 12px;
		font-family: inherit;
	}/*Caracteristicas del texto*/